In [5]:
import csv,fnmatch,os,json
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from tqdm import tqdm
import requests, re
import pickle

country_mapping = {'Australia':'AU',
                   'Austria':'AT',
                   'Brazil':'BR',
                   'Canada':'CA',
                   'Colombia':'CO',
                   'France':'FR',
                   'Guyana':'GY',
                   'Hungary':'HU',
                   'India':'IN',
                   'Indonesia':'ID',
                   'Ireland':'IE',
                   'Jamaica':'JM',
                   'Japan':'JP',
                   'Latvia':'LV',
                   'Mexico':'MX',
                   'Netherlands':'NL',
                   'Nigeria':'NG',
                   'Norway':'NO',
                   'ON':'CA',
                   'Panama':'PA',
                   'Philippines':'PH',
                   'Poland':'PL',
                   'Portugal':'PT',
                   'Slovenia':'SI',
                   'South Africa':'ZA',
                   'South Korea':'KR',
                   'Spain':'ES',
                   'Sweden':'SE',
                   'Switzerland':'CH',
                   'Turkey':'TR',
                   'United Kingdom':'GB',
                   'United States':'US',
                   'Venezuela':'VE'
                  }

def map_country_iso(country):
    if country not in country_mapping.keys():
        return 'PROBLEM WITH : %s' % country
    else:
        return country_mapping.get(country)

regex1 = re.compile("u\'|\'")
searching_for_average = re.compile('Average Monthly Disposable Salary \(After Tax\), Salaries And Financing')
def average_salary_extraction(prices): 
    prices.replace(regex1, '\"')#.apply(lambda price: json.loads(price))
    prices = prices.apply(lambda price: [dictio['average_price'] for dictio in price
                                 if searching_for_average.match(dictio['item_name'])])
    return prices.apply(lambda price: price[0])

In [8]:
#Loading data

data_folder = '/home/thebatou/Documents/Uni_Potsdam/Competitive_Data_Analysis/'
file_name = 'project_data_train_v2.csv'

try:
    print 'Trying to load bitbond data ...'
    bitbond_data = pd.read_csv(os.path.join(data_folder, file_name), index_col=0)
    bitbond_data.loc[835,'region'] = 'NA'
    bitbond_data.loc[1232,'region'] = 'NA'
    bitbond_data.loc[1839,'region'] = 'NA'
    bitbond_data.loc[1993,'region'] = 'NA'
    bitbond_data = bitbond_data.replace(to_replace=np.nan, value=-1)
    print 'Done loading bitbond data! {} data were loaded.'.format(bitbond_data.shape[0])
    print ("Trying to load numbeo data about city ...")
    print ("Trying to load numbeo data about country ...")
    city_prices_numbeo = pd.read_csv('/home/thebatou/Documents/Uni_Potsdam/Competitive_Data_Analysis/numbeo_city_prices.csv', index_col=0)
    country_prices_numbeo = pd.read_csv('/home/thebatou/Documents/Uni_Potsdam/Competitive_Data_Analysis/numbeo_country_prices.csv', index_col=0)
    print "Done loading city numbeo data! {} data were loaded.".format(city_prices_numbeo.shape[0])
    print "Done loading country numbeo data! {} data were loaded.".format(country_prices_numbeo.shape[0])
    # DROP USELESS COLUMN
    city_prices_numbeo.drop('currency',axis=1,inplace=True)
    city_prices_numbeo.drop('contributors',axis=1,inplace=True)
    city_prices_numbeo.drop('monthLastUpdate',axis=1,inplace=True)
    city_prices_numbeo.drop('yearLastUpdate',axis=1,inplace=True)
    city_prices_numbeo = city_prices_numbeo.rename(columns={'name':'location'})

    country_prices_numbeo.drop('currency',axis=1,inplace=True)
    country_prices_numbeo.drop('contributors',axis=1,inplace=True)
    country_prices_numbeo.drop('monthLastUpdate',axis=1,inplace=True)
    country_prices_numbeo.drop('yearLastUpdate',axis=1,inplace=True)
    country_prices_numbeo = country_prices_numbeo.rename(columns={'name':'location'})
except IOError as e:
    print "I/O error: {0}".format(e)
    print "Downloading data from numbeo website ..."
    quadruple_id_lat_long_region = bitbond_data.groupby(by=('loan_identifier','address_lat','address_lng','region')).indices.keys()
    all_city_prices_requests = []
    all_country_prices_requests = []
    missing_prices_location = []
    for address in tqdm(quadruple_id_lat_long_region):
        # CITY REQUEST
        url = "http://www.numbeo.com/api/city_prices?api_key=w624aixu3sour8&query="+str(address[1])+','+str(address[2])
        response = json.loads(requests.get(url).text)
        # CHECK CITY REQUEST RESPONSE
        if 'error' in response.keys():
            # COUNTRY REQUEST BECAUSE CITY REQUEST FAILED
            url = "http://www.numbeo.com/api/country_prices?api_key=w624aixu3sour8&country="+address[3]
            response = json.loads(requests.get(url).text)
            # CHECK COUNTRY RESPONSE
            if 'error' in response.keys():
                print "ERROR CITY-COUNTRY"
                print address
                missing_prices_location.append(address)
                continue
            else:
                # CHECK ITEM OF LIST
                if 'prices' in response.keys() and isinstance(response.get('prices'), list):
                    boolean = False
                    for dico in response.get('prices'):
                        if 105 in dico.values():
                            response['loan_identifier'] = address[0]
                            response['region'] = address[3]
                            all_country_prices_requests.append(response)
                            boolean = True
                            break
                    if not boolean:
                        print "ERROR CITY + NOT ALL PRICE PRESENT IN COUNTRY REQUEST"
                        print address
                        missing_prices_location.append(address)
                        continue
        else:
            if 'prices' in response.keys() and isinstance(response.get('prices'), list):
                boolean = False
                for dico in response.get('prices'):
                    if 105 in dico.values():
                        response['loan_identifier'] = address[0]
                        response['address_lat'] = address[1]
                        response['address_lng'] = address[2]
                        all_city_prices_requests.append(response)
                        boolean = True
                        break
                if not boolean:
                    country = response['name'].split(', ')
                    if len(country)==3 and country[2]=="United States":
                        country = country[2]
                    else:
                        country = country[1]
                    country = map_country_iso(country)
                    url = "http://www.numbeo.com/api/country_prices?api_key=w624aixu3sour8&country="+country
                    response = json.loads(requests.get(url).text)
                    if 'error' in response.keys() or 'prices' not in response.keys():
                        print "ERROR COUNTRY - CITY NOT FOUND"
                        print country
                        print address
                        missing_prices_location.append(address)
                        continue
    
    with open('/home/thebatou/Documents/Uni_Potsdam/Competitive_Data_Analysis/missings.pickle', "wb") as f:
        pickle.dump(missing_prices_location, f)
    #missing_prices_location.to_csv(path_or_buf='/home/thebatou/Documents/Uni_Potsdam/Competitive_Data_Analysis/missings.csv', encoding='utf-8')
    city_prices_numbeo = pd.DataFrame(all_city_prices_requests)
    # Extraction of average salary per location
    city_prices_numbeo['prices'] = average_salary_extraction(city_prices_numbeo['prices'])
    city_prices_numbeo.to_csv(path_or_buf='/home/thebatou/Documents/Uni_Potsdam/Competitive_Data_Analysis/numbeo_city_prices.csv', encoding='utf-8')
    
    country_prices_numbeo = pd.DataFrame(all_country_prices_requests)
    # Extraction of average salary per location
    country_prices_numbeo['prices'] = average_salary_extraction(country_prices_numbeo['prices'])
    country_prices_numbeo.to_csv(path_or_buf='/home/thebatou/Documents/Uni_Potsdam/Competitive_Data_Analysis/numbeo_country_prices.csv', encoding='utf-8')
    
    city_prices_numbeo.drop('currency',axis=1,inplace=True)
    city_prices_numbeo.drop('contributors',axis=1,inplace=True)
    city_prices_numbeo.drop('monthLastUpdate',axis=1,inplace=True)
    city_prices_numbeo.drop('yearLastUpdate',axis=1,inplace=True)
    city_prices_numbeo = city_prices_numbeo.rename(columns={'name':'location'})

    country_prices_numbeo.drop('currency',axis=1,inplace=True)
    country_prices_numbeo.drop('contributors',axis=1,inplace=True)
    country_prices_numbeo.drop('monthLastUpdate',axis=1,inplace=True)
    country_prices_numbeo.drop('yearLastUpdate',axis=1,inplace=True)
    country_prices_numbeo = country_prices_numbeo.rename(columns={'name':'location'})
    
print "Done downloading from numbeo website!"
print 'Bitbond data shape : {}'.format(bitbond_data.shape)
print 'City numbeo data has shape : {}'.format(city_prices_numbeo.shape)
print 'Country numbeo data has shape : {}'.format(country_prices_numbeo.shape)
print '\nFirst element of city numbeo data :'
print city_prices_numbeo.ix[0]
print '\nFirst element of country numbeo data :'
print country_prices_numbeo.ix[2]

Loading bitbond data ...
Done loading bitbond data! 2177 data were loaded.
Trying to load numbeo data about city ...
Trying to load numbeo data about country ...
Done loading city numbeo data! 1323 data were loaded.
Done loading country numbeo data! 422 data were loaded.
Done downloading from numbeo website!
Bitbond data shape : (2177, 28)
City numbeo data has shape : (1323, 5)
Country numbeo data has shape : (422, 4)

First element of city numbeo data :
address_lat                  -7.238452
address_lng                    112.735
loan_identifier             1VSAV13ZD8
location           Surabaya, Indonesia
prices                         3926000
Name: 0, dtype: object

First element of country numbeo data :
loan_identifier    2AAFMY494Z
location               Brazil
prices               1701.551
region                     BR
Name: 2, dtype: object

In [9]:
print len(bitbond_data.groupby(by=('address_lat','address_lng')).indices.keys())
print len(bitbond_data['region'])
print np.unique(bitbond_data['region'])

446
2177
['AR' 'AT' 'AU' 'BD' 'BE' 'BG' 'BR' 'CA' 'CH' 'CI' 'CL' 'CN' 'CO' 'CZ' 'DE'
 'DK' 'DO' 'DZ' 'EC' 'EE' 'EG' 'ES' 'FI' 'FR' 'GB' 'GH' 'GR' 'GY' 'HR' 'HU'
 'ID' 'IE' 'IL' 'IN' 'IR' 'IS' 'IT' 'JM' 'JP' 'KE' 'KR' 'LB' 'LK' 'LT' 'LU'
 'LV' 'MA' 'MK' 'MU' 'MX' 'NA' 'NG' 'NL' 'NO' 'NZ' 'PA' 'PE' 'PH' 'PK' 'PL'
 'PT' 'RO' 'RS' 'RU' 'SE' 'SG' 'SI' 'SK' 'SR' 'SY' 'TH' 'TR' 'TZ' 'UA' 'US'
 'VE' 'VN' 'ZA' 'ZW']

In [10]:
regions = np.unique(bitbond_data.region)
regions_prices_requests = []
missing_prices_regions = []
for region in tqdm(regions):
    url = "http://www.numbeo.com/api/country_prices?api_key=w624aixu3sour8&country="+region
    response = json.loads(requests.get(url).text)
    if 'error' in response.keys():
        missing_prices_regions.append(region)
    else:
        if 'prices' in response.keys() and isinstance(response.get('prices'), list):
            boolean = False
            for dico in response.get('prices'):
                if 105 in dico.values():
                    response['region'] = region
                    regions_prices_requests.append(response)
                    boolean = True
                    break
            if not boolean:
                print "ERROR CITY + NOT ALL PRICE PRESENT IN COUNTRY REQUEST"
                print region
                missing_prices_regions.append(region)
                continue

regions_prices_numbeo = pd.DataFrame(regions_prices_requests)
regions_prices_numbeo['prices'] = average_salary_extraction(regions_prices_numbeo['prices'])
regions_prices_numbeo.drop('currency',axis=1,inplace=True)
regions_prices_numbeo.drop('contributors',axis=1,inplace=True)
regions_prices_numbeo.drop('monthLastUpdate',axis=1,inplace=True)
regions_prices_numbeo.drop('yearLastUpdate',axis=1,inplace=True)
regions_prices_numbeo = regions_prices_numbeo.rename(columns={'name':'location'})

In [11]:
#print missing_prices_location
print missing_prices_regions
regions_prices_numbeo
#missing = pd.DataFrame(missing_prices_address,columns=['loan_identifier','address_lat','address_lng'])
#missing_data = pd.merge(bitbond_data, missing, how='inner', on=['loan_identifier','address_lat', 'address_lng'])

[]

              location          prices region
0            Argentina     1077.873625     AR
1              Austria     1809.835758     AT
2            Australia     4257.531723     AU
3           Bangladesh    25214.880952     BD
4              Belgium     1848.918875     BE
5             Bulgaria      846.968508     BG
6               Brazil     1745.909005     BR
7               Canada     2997.538016     CA
8          Switzerland     5598.811004     CH
9          Ivory Coast   300000.000000     CI
10               Chile   560258.607308     CL
11               China     6237.235965     CN
12            Colombia  1001726.471104     CO
13      Czech Republic    22247.628434     CZ
14             Germany     2145.164305     DE
15             Denmark    19899.649386     DK
16  Dominican Republic    18477.459279     DO
17             Algeria    33610.714286     DZ
18             Ecuador      471.005736     EC
19             Estonia      787.125000     EE
20               Egypt     2586.334426     EG
21               Spain     1280.232473     ES
22             Finland     2210.915432     FI
23              France     1947.321761     FR
24      United Kingdom     1671.234454     GB
25               Ghana      370.240077     GH
26              Greece      827.490180     GR
27              Guyana      237.559506     GY
28             Croatia     4907.203704     HR
29             Hungary   149545.971925     HU
..                 ...             ...    ...
49              Mexico    10413.076531     MX
50             Namibia     7544.005565     NA
51             Nigeria   118273.142857     NG
52         Netherlands     2180.866667     NL
53              Norway    26810.117316     NO
54         New Zealand     3220.430370     NZ
55              Panama      691.932500     PA
56                Peru     1447.833333     PE
57         Philippines    14659.330194     PH
58            Pakistan    25117.471264     PK
59              Poland     2944.312107     PL
60            Portugal      798.813822     PT
61             Romania     1995.419597     RO
62              Serbia    39987.208045     RS
63              Russia      554.153945     RU
64              Sweden    19363.140924     SE
65           Singapore     4261.416886     SG
66            Slovenia      976.948276     SI
67            Slovakia      668.307692     SK
68            Suriname     2380.000000     SR
69               Syria      180.146133     SY
70            Thailand    13929.905263     TH
71              Turkey     1860.970829     TR
72            Tanzania      702.776687     TZ
73             Ukraine      195.827000     UA
74       United States     2719.253212     US
75           Venezuela      179.500000     VE
76             Vietnam  5431034.482759     VN
77        South Africa    16496.544658     ZA
78            Zimbabwe      440.909091     ZW

[79 rows x 3 columns]

In [14]:
print bitbond_data.columns
print bitbond_data.ix[10]
print regions_prices_numbeo.ix[1]
print city_prices_numbeo.ix[1]
print country_prices_numbeo.ix[1]
#numbeo_data[numbeo_data['cpi_index']!=np.nan]
#bitbond_data[bitbond_data['region']=='tamere']

Index([u'loan_identifier', u'nominal_interest_rate', u'term', u'purpose',
       u'project_description', u'borrower_identifier', u'borrower_rating',
       u'employment', u'region', u'facebook', u'twitter', u'paypal', u'ebay',
       u'linkedin', u'published_at', u'funded_at', u'status',
       u'amount_requested', u'amount_funded', u'issuer_id', u'fraudulent',
       u'address_lat', u'address_lng', u'net_income_cents', u'currency',
       u'rates_count', u'rates_paid', u'base_currency'],
      dtype='object')
loan_identifier                                                  EHDT531SX
nominal_interest_rate                                                 3332
term                                                         term_6_months
purpose                                                    working_capital
project_description      Hey everybody, I want to open a fitness center...
borrower_identifier                                              EH91S31SV
borrower_rating                                                          F
employment                                                        studying
region                                                                  DE
facebook                                                              none
twitter                                                               none
paypal                                                                none
ebay                                                                  none
linkedin                                                              none
published_at                                     2013-06-26 13:27:49 +0200
funded_at                                                               -1
status                                                             expired
amount_requested                                                5000000000
amount_funded                                                     20000000
issuer_id                                                              117
fraudulent                                                            True
address_lat                                                             -1
address_lng                                                             -1
net_income_cents                                                      5000
currency                                                               EUR
rates_count                                                              0
rates_paid                                                               0
base_currency                                                          btc
Name: 10, dtype: object
location     Austria
prices      1809.836
region            AT
Name: 1, dtype: object
address_lat              37.97713
address_lng              23.72987
loan_identifier        1Q5P3Y3VEV
location           Athens, Greece
prices                    717.857
Name: 1, dtype: object
loan_identifier    1R7YH33WQA
location               Russia
prices               557.7018
region                     RU
Name: 1, dtype: object

In [15]:
bitbond_numbeo_data = pd.merge(bitbond_data, regions_prices_numbeo, on=['region'], how='left')
bitbond_numbeo_data_2 = pd.merge(bitbond_numbeo_data, country_prices_numbeo, on=['loan_identifier','region','prices', 'location'], how='left')
data = pd.merge(bitbond_numbeo_data_2, city_prices_numbeo, on=['loan_identifier','address_lat', 'address_lng', 'prices', 'location'], how='left')
data.to_csv(path_or_buf='/home/thebatou/Documents/Uni_Potsdam/Competitive_Data_Analysis/data_num_bit.csv', encoding='utf-8')
#bitbond_numbeo_data.groupby(by='prices').indices.values()
print np.unique(data.region)
print np.unique(data.prices)
data.columns

['AR' 'AT' 'AU' 'BD' 'BE' 'BG' 'BR' 'CA' 'CH' 'CI' 'CL' 'CN' 'CO' 'CZ' 'DE'
 'DK' 'DO' 'DZ' 'EC' 'EE' 'EG' 'ES' 'FI' 'FR' 'GB' 'GH' 'GR' 'GY' 'HR' 'HU'
 'ID' 'IE' 'IL' 'IN' 'IR' 'IS' 'IT' 'JM' 'JP' 'KE' 'KR' 'LB' 'LK' 'LT' 'LU'
 'LV' 'MA' 'MK' 'MU' 'MX' 'NA' 'NG' 'NL' 'NO' 'NZ' 'PA' 'PE' 'PH' 'PK' 'PL'
 'PT' 'RO' 'RS' 'RU' 'SE' 'SG' 'SI' 'SK' 'SR' 'SY' 'TH' 'TR' 'TZ' 'UA' 'US'
 'VE' 'VN' 'ZA' 'ZW']
[  1.79500000e+02   1.80146133e+02   1.95827000e+02   2.37559506e+02
   3.70240077e+02   4.40909091e+02   4.71005736e+02   4.78205054e+02
   5.54153945e+02   5.78385480e+02   5.98452989e+02   6.68307692e+02
   6.91932500e+02   7.02776687e+02   7.87125000e+02   7.98813822e+02
   8.27490180e+02   8.46968508e+02   9.76948276e+02   1.07787362e+03
   1.13200820e+03   1.28023247e+03   1.44783333e+03   1.54871583e+03
   1.67123445e+03   1.74590901e+03   1.80983576e+03   1.84891888e+03
   1.86097083e+03   1.94732176e+03   1.99541960e+03   2.14516431e+03
   2.18086667e+03   2.21091543e+03   2.35033320e+03   2.38000000e+03
   2.58633443e+03   2.71925321e+03   2.94431211e+03   2.99753802e+03
   3.22043037e+03   3.24933333e+03   3.85261207e+03   4.25753172e+03
   4.26141689e+03   4.90720370e+03   5.59881100e+03   6.23723597e+03
   7.54400557e+03   8.11924000e+03   1.04130765e+04   1.39299053e+04
   1.46593302e+04   1.64965447e+04   1.74565833e+04   1.84774593e+04
   1.93631409e+04   1.98996494e+04   2.22476284e+04   2.51174713e+04
   2.52148810e+04   2.68101173e+04   2.84851765e+04   2.91523440e+04
   3.19277568e+04   3.36107143e+04   3.57272727e+04   3.99872080e+04
   7.02000000e+04   1.18273143e+05   1.49545972e+05   2.70280525e+05
   2.83748126e+05   3.00000000e+05   5.60258607e+05   1.00172647e+06
   2.69015764e+06   3.96328750e+06   5.43103448e+06]

Index([      u'loan_identifier', u'nominal_interest_rate',
                        u'term',               u'purpose',
         u'project_description',   u'borrower_identifier',
             u'borrower_rating',            u'employment',
                      u'region',              u'facebook',
                     u'twitter',                u'paypal',
                        u'ebay',              u'linkedin',
                u'published_at',             u'funded_at',
                      u'status',      u'amount_requested',
               u'amount_funded',             u'issuer_id',
                  u'fraudulent',           u'address_lat',
                 u'address_lng',      u'net_income_cents',
                    u'currency',           u'rates_count',
                  u'rates_paid',         u'base_currency',
                    u'location',                u'prices'],
      dtype='object')

In [17]:
#country_prices_numbeo[country_prices_numbeo['location']=='Namibia']
data[data['location']=='Namibia']
#data = data.copy(deep=True)
#data.loc[835,'region'] = 'NA'
#data.loc[1232,'region'] = 'NA'
#data.loc[1839,'region'] = 'NA'
#data.loc[1993,'region'] = 'NA'
data.to_csv(path_or_buf='/home/thebatou/Documents/Uni_Potsdam/Competitive_Data_Analysis/final_data.csv', encoding='utf-8')

In [ ]:
status_terms = {}
for status in np.unique(bitbond_data.status):
    for terms in np.unique(bitbond_data.term):
        status_terms_data = bitbond_data[(bitbond_data['status'] == status) & (bitbond_data.get('term') == terms)]
        status_terms[status+' & '+terms]=float(status_terms_data.size)

In [10]:
print 'Nominal interest rate : {}'.format(np.unique(bitbond_data.nominal_interest_rate))
print 'Term : {}'.format(np.unique(bitbond_data.term))
print 'Purpose : {}'.format(np.unique(bitbond_data.purpose))
print 'Borrower rating : {}'.format(np.unique(bitbond_data.borrower_rating))
print 'Employment : {}'.format(np.unique(bitbond_data.employment))
print 'Region : {}'.format(np.unique(bitbond_data.region))
print 'Facebook : {}'.format(np.unique(bitbond_data.facebook))
print 'Status : {}'.format(np.unique(bitbond_data.status))
print 'Fraudulent : {}'.format(np.unique(bitbond_data.fraudulent))
print 'Currency : {}'.format(np.unique(bitbond_data.currency))
print 'Rates count : {}'.format(np.unique(bitbond_data.rates_count))
print 'Rates paid : {}'.format(np.unique(bitbond_data.rates_paid))
print 'Base currency : {}'.format(np.unique(bitbond_data.base_currency))

Nominal interest rate : [ 766  770  788  844  888 1029 1069 1115 1166 1235 1380 1453 1465 1583 1633
 1806 1947 1994 2071 2108 2253 2457 2458 2463 2564 2792 2836 3319 3332 4048]
Term : ['term_12_months' 'term_36_months' 'term_60_months' 'term_6_months'
 'term_6_weeks']
Purpose : ['consumption' 'education' 'investment' 'other' 'refinancing' 'renovation'
 'working_capital']
Borrower rating : ['A' 'B' 'C' 'D' 'E' 'F']
Employment : ['retired' 'salaried' 'self_employed' 'studying' 'unemployed']
Region : ['AR' 'AT' 'AU' 'BD' 'BE' 'BG' 'BR' 'CA' 'CH' 'CI' 'CL' 'CN' 'CO' 'CZ' 'DE'
 'DK' 'DO' 'DZ' 'EC' 'EE' 'EG' 'ES' 'FI' 'FR' 'GB' 'GH' 'GR' 'GY' 'HR' 'HU'
 'ID' 'IE' 'IL' 'IN' 'IR' 'IS' 'IT' 'JM' 'JP' 'KE' 'KR' 'LB' 'LK' 'LT' 'LU'
 'LV' 'MA' 'MK' 'MU' 'MX' 'NA' 'NG' 'NL' 'NO' 'NZ' 'PA' 'PE' 'PH' 'PK' 'PL'
 'PT' 'RO' 'RS' 'RU' 'SE' 'SG' 'SI' 'SK' 'SR' 'SY' 'TH' 'TR' 'TZ' 'UA' 'US'
 'VE' 'VN' 'ZA' 'ZW']
Facebook : ['connected' 'none']
Status : ['canceled' 'charged_off' 'current' 'defaulted' 'expired' 'fully_paid'
 'funded' 'in_funding' 'late_30' 'late_90']
Fraudulent : [False  True]
Currency : ['AED' 'ARS' 'AUD' 'BGN' 'BRL' 'CAD' 'CHF' 'CLP' 'CNY' 'COP' 'CZK' 'DKK'
 'DOP' 'DZD' 'EUR' 'GBP' 'GHS' 'GYD' 'HRK' 'HUF' 'IDR' 'ILS' 'INR' 'IRR'
 'ISK' 'JMD' 'JPY' 'KES' 'KRW' 'LKR' 'LTL' 'LVL' 'MAD' 'MKD' 'MUR' 'MXN'
 'NAD' 'NGN' 'NOK' 'NZD' 'PEN' 'PHP' 'PKR' 'PLN' 'RON' 'RSD' 'RUB' 'SAR'
 'SEK' 'SGD' 'THB' 'TRY' 'TZS' 'UAH' 'USD' 'VEF' 'VND' 'XOF' 'ZAR' 'huf'
 'idr' 'inr' 'kes' 'usd']
Rates count : [  0.   1.   6.  12.  36.  60.]
Rates paid : [  0.   1.   2.   3.   4.   5.   6.   7.   9.  10.  11.  12.  36.]
Base currency : ['btc' 'usd']

In [11]:
print 'Nominal interest rate : {}'.format(np.unique(data.nominal_interest_rate))
print 'Term : {}'.format(np.unique(data.term))
print 'Purpose : {}'.format(np.unique(data.purpose))
print 'Borrower rating : {}'.format(np.unique(data.borrower_rating))
print 'Employment : {}'.format(np.unique(data.employment))
print 'Region : {}'.format(np.unique(data.region))
print 'Facebook : {}'.format(np.unique(data.facebook))
print 'Ebay : {}'.format(np.unique(data.ebay))
print 'Status : {}'.format(np.unique(data.status))
print 'Fraudulent : {}'.format(np.unique(data.fraudulent))
print 'Currency : {}'.format(np.unique(data.currency))
print 'Rates count : {}'.format(np.unique(data.rates_count))
print 'Rates paid : {}'.format(np.unique(data.rates_paid))
print 'Base currency : {}'.format(np.unique(data.base_currency))
print 'Location : {}'.format(np.unique(data.location))
print 'Amount requested : {}'.format(np.unique(data.amount_requested))
print 'Amount funded : {}'.format(np.unique(data.amount_funded))

Nominal interest rate : [ 766  770  788  844  888 1029 1069 1115 1166 1235 1380 1453 1465 1583 1633
 1806 1947 1994 2071 2108 2253 2457 2458 2463 2564 2792 2836 3319 3332 4048]
Term : ['term_12_months' 'term_36_months' 'term_60_months' 'term_6_months'
 'term_6_weeks']
Purpose : ['consumption' 'education' 'investment' 'other' 'refinancing' 'renovation'
 'working_capital']
Borrower rating : ['A' 'B' 'C' 'D' 'E' 'F']
Employment : ['retired' 'salaried' 'self_employed' 'studying' 'unemployed']
Region : ['AR' 'AT' 'AU' 'BD' 'BE' 'BG' 'BR' 'CA' 'CH' 'CI' 'CL' 'CN' 'CO' 'CZ' 'DE'
 'DK' 'DO' 'DZ' 'EC' 'EE' 'EG' 'ES' 'FI' 'FR' 'GB' 'GH' 'GR' 'GY' 'HR' 'HU'
 'ID' 'IE' 'IL' 'IN' 'IR' 'IS' 'IT' 'JM' 'JP' 'KE' 'KR' 'LB' 'LK' 'LT' 'LU'
 'LV' 'MA' 'MK' 'MU' 'MX' 'NA' 'NG' 'NL' 'NO' 'NZ' 'PA' 'PE' 'PH' 'PK' 'PL'
 'PT' 'RO' 'RS' 'RU' 'SE' 'SG' 'SI' 'SK' 'SR' 'SY' 'TH' 'TR' 'TZ' 'UA' 'US'
 'VE' 'VN' 'ZA' 'ZW']
Facebook : ['connected' 'none']
Ebay : ['connected' 'none']
Status : ['canceled' 'charged_off' 'current' 'defaulted' 'expired' 'fully_paid'
 'funded' 'in_funding' 'late_30' 'late_90']
Fraudulent : [False  True]
Currency : ['AED' 'ARS' 'AUD' 'BGN' 'BRL' 'CAD' 'CHF' 'CLP' 'CNY' 'COP' 'CZK' 'DKK'
 'DOP' 'DZD' 'EUR' 'GBP' 'GHS' 'GYD' 'HRK' 'HUF' 'IDR' 'ILS' 'INR' 'IRR'
 'ISK' 'JMD' 'JPY' 'KES' 'KRW' 'LKR' 'LTL' 'LVL' 'MAD' 'MKD' 'MUR' 'MXN'
 'NAD' 'NGN' 'NOK' 'NZD' 'PEN' 'PHP' 'PKR' 'PLN' 'RON' 'RSD' 'RUB' 'SAR'
 'SEK' 'SGD' 'THB' 'TRY' 'TZS' 'UAH' 'USD' 'VEF' 'VND' 'XOF' 'ZAR' 'huf'
 'idr' 'inr' 'kes' 'usd']
Rates count : [  0.   1.   6.  12.  36.  60.]
Rates paid : [  0.   1.   2.   3.   4.   5.   6.   7.   9.  10.  11.  12.  36.]
Base currency : ['btc' 'usd']
Location : [u'Algeria' u'Argentina' u'Australia' u'Austria' u'Bangladesh' u'Belgium'
 u'Brazil' u'Bulgaria' u'Canada' u'Chile' u'China' u'Colombia' u'Croatia'
 u'Czech Republic' u'Denmark' u'Dominican Republic' u'Ecuador' u'Egypt'
 u'Estonia' u'Finland' u'France' u'Germany' u'Ghana' u'Greece' u'Guyana'
 u'Hungary' u'Iceland' u'India' u'Indonesia' u'Iran' u'Ireland' u'Israel'
 u'Italy' u'Ivory Coast' u'Jamaica' u'Japan' u'Kenya' u'Latvia' u'Lebanon'
 u'Lithuania' u'Luxembourg' u'Macedonia' u'Mauritius' u'Mexico' u'Morocco'
 u'Namibia' u'Netherlands' u'New Zealand' u'Nigeria' u'Norway' u'Pakistan'
 u'Panama' u'Peru' u'Philippines' u'Poland' u'Portugal' u'Romania'
 u'Russia' u'Serbia' u'Singapore' u'Slovakia' u'Slovenia' u'South Africa'
 u'South Korea' u'Spain' u'Sri Lanka' u'Suriname' u'Sweden' u'Switzerland'
 u'Syria' u'Tanzania' u'Thailand' u'Turkey' u'Ukraine' u'United Kingdom'
 u'United States' u'Venezuela' u'Vietnam' u'Zimbabwe']
Amount requested : [   10000000    11000000    20000000    22000000    30000000    40000000
    50000000    60000000    70000000    80000000    90000000   100000000
   110000000   120000000   130000000   140000000   150000000   160000000
   170000000   180000000   190000000   200000000   205000000   210000000
   220000000   230000000   240000000   250000000   260000000   270000000
   280000000   290000000   300000000   310000000   320000000   330000000
   340000000   350000000   360000000   370000000   380000000   390000000
   400000000   410000000   420000000   430000000   440000000   450000000
   460000000   470000000   480000000   490000000   500000000   510000000
   520000000   530000000   540000000   550000000   560000000   570000000
   580000000   590000000   600000000   610000000   620000000   630000000
   640000000   650000000   660000000   670000000   680000000   700000000
   710000000   720000000   730000000   740000000   750000000   770000000
   780000000   790000000   800000000   810000000   830000000   840000000
   850000000   860000000   880000000   890000000   900000000   920000000
   930000000   950000000   980000000  1000000000  1030000000  1040000000
  1070000000  1080000000  1090000000  1100000000  1120000000  1200000000
  1230000000  1250000000  1280000000  1290000000  1300000000  1330000000
  1340000000  1360000000  1370000000  1400000000  1450000000  1500000000
  1530000000  1600000000  1610000000  1630000000  1650000000  1700000000
  1750000000  1770000000  1800000000  1860000000  1870000000  1900000000
  1980000000  2000000000  2010000000  2020000000  2050000000  2070000000
  2100000000  2110000000  2200000000  2220000000  2230000000  2280000000
  2300000000  2380000000  2400000000  2500000000  2700000000  2750000000
  2800000000  2820000000  2850000000  3000000000  3010000000  3080000000
  3100000000  3290000000  3300000000  3490000000  3500000000  3630000000
  3670000000  3750000000  3800000000  3810000000  3900000000  3990000000
  4000000000  4010000000  4500000000  4700000000  4750000000  5000000000
  5090000000  5400000000  5500000000  5600000000  6000000000  6200000000
  6400000000  7000000000  7600000000  8000000000  8900000000 10000000000
 10920000000 11780000000 15000000000 17000000000]
Amount funded : [         0    1000000    2000000    3000000    4000000    5000000
    6000000    7000000    8000000    9000000   10000000   11000000
   12000000   13000000   14000000   15000000   16000000   17000000
   18000000   19000000   20000000   21000000   22000000   23000000
   24000000   25000000   26000000   27000000   28000000   29000000
   29999999   30000000   31000000   32000000   33000000   34000000
   35000000   36000000   37000000   38000000   39000000   40000000
   41000000   42000000   43000000   44000000   45000000   46000000
   47000000   48000000   49000000   50000000   51000000   52000000
   53000000   54000000   55000000   56000000   57000000   58000000
   59000000   60000000   61000000   62000000   62999999   65000000
   66000000   67000000   68000000   69000000   70000000   71000000
   73000000   74000000   75000000   77000000   79000000   80000000
   81000000   82000000   83000000   84000000   85000000   86000000
   87000000   88000000   89000000   90000000   92000000   93000000
   94000000   95000000   96000000   97000000  100000000  101000000
  103000000  106000000  107000000  110000000  111000000  112000000
  113000000  114000000  115000000  117000000  118000000  120000000
  121000000  123000000  124000000  127000000  128000000  129000000
  130000000  132000000  133000000  134000000  136000000  140000000
  142000000  143000000  144000000  145000000  147000000  149000000
  150000000  151000000  152000000  153000000  155000000  155999999
  158000000  160000000  161000000  162000000  164000000  165000000
  167000000  169000000  170000000  173000000  174000000  178000000
  180000000  182000000  184000000  185000000  187000000  188000000
  190000000  193000000  200000000  206000000  207000000  208000000
  209000000  210000000  219000000  220000000  221000000  222000000
  230000000  231000000  236000000  247000000  250000000  252000000
  255000000  259000000  261000000  263000000  273000000  278000000
  280000000  282000000  287000000  289000000  290000000  300000000
  309000000  310000000  316000000  320000000  323000000  326000000
  328000000  341000000  350000000  380000000  400000000  423000000
  424000000  490000000  500000000  530000000 1013000000 1406000000
 1418000000 1421000000 2967000000 3411000000]

In [13]:
data['pourcentage_average_salary'] = data['net_income_cents'] / data['prices']
print np.mean(data['pourcentage_average_salary'])
print np.min(data['pourcentage_average_salary'])
print np.max(data['pourcentage_average_salary'])
print np.std(data['pourcentage_average_salary'])

37910.5991989
8.8270341723e-05
5240603.34584
433563.166493

In [12]:
type(data.amount_funded.ix[1])

numpy.int64

In [ ]:
from sklearn.cross_validation import StratifiedKFold,cross_val_score
from sklearn.linear_model import SGDClassifier
from scipy import interp
from sklearn import svm, datasets
from sklearn.metrics import roc_curve, auc
import matplotlib.pyplot as plt
from sklearn.feature_extraction import DictVectorizer

y = data['status'] != 'fully_paid'
v = DictVectorizer()
D = data.loc[:,['amount_funded','amount_requested']].T.to_dict().values()
#.to_dict()#,'address_lat','address_lng' , 'net_income_cents'
                #'nominal_interest_rate', 'prices', 'rates_count', 'rates_paid']]
X = v.fit_transform(D)

random_state = np.random.RandomState(0)

cv = StratifiedKFold(y, n_folds=6)
clf = svm.SVC(kernel='linear', probability=True,
                     random_state=random_state)

mean_tpr = 0.0
mean_fpr = np.linspace(0, 1, 100)
all_tpr = []
scores = []

plt.figure(figsize=(20,10))

for i, (train, test) in tqdm(enumerate(cv)):
    clf.fit(X[train], y[train])
    scores.append(clf.score(X[test], y[test]))
    y_scores = clf.decision_function(X[test])
    # Compute ROC curve and area the curve
    fpr, tpr, thresholds = roc_curve(y[test], y_scores)
    mean_tpr += interp(mean_fpr, fpr, tpr)
    mean_tpr[0] = 0.0
    roc_auc = auc(fpr, tpr)
    plt.plot(fpr, tpr, lw=1, label='ROC fold %d (area = %0.2f)' % (i, roc_auc))
    # Now predict the value of the digit on the second half:
    expected = y[test]
    predicted = clf.predict(X[test])

    print("Classification report for classifier %s:\n%s\n"
          % (clf, metrics.classification_report(expected, predicted)))
    print("Confusion matrix:\n%s" % metrics.confusion_matrix(expected, predicted))

plt.plot([0, 1], [0, 1], '--', color=(0.6, 0.6, 0.6), label='Luck')

mean_tpr /= len(cv)
mean_tpr[-1] = 1.0
mean_auc = auc(mean_fpr, mean_tpr)
plt.plot(mean_fpr, mean_tpr, 'k--',
         label='Mean ROC (area = %0.2f)' % mean_auc, lw=2)

plt.xlim([-0.05, 1.05])
plt.ylim([-0.05, 1.05])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Receiver operating characteristic example')
plt.legend(loc="lower right")
plt.show()