In [4]:
import pandas as pd
import os
from tqdm import tqdm
import numpy as np
from sklearn.preprocessing import LabelEncoder

data_folder = '/home/thebatou/Documents/Uni_Potsdam/Competitive_Data_Analysis/data/'
print 'Loading data ...'
data = pd.read_csv(os.path.join(data_folder, 'data_num_bit.csv'), index_col=0)
print 'Done loading data! {} data were loaded.'.format(data.shape[0])

Loading data ...
Done loading data! 2177 data were loaded.

In [5]:
#data.ix[0]
data

,loan_identifier,nominal_interest_rate,term,purpose,project_description,borrower_identifier,borrower_rating,employment,region,facebook,...,fraudulent,address_lat,address_lng,net_income_cents,currency,rates_count,rates_paid,base_currency,location,prices
0,E4ESQ31PV,1115,term_6_weeks,investment,I need to make some investments but need to co...,18TFGM41GTH,B,self_employed,DE,none,...,False,52.540658,13.417918,320000,EUR,1,1,btc,Germany,2158.125468
1,E4EVG31PW,1115,term_6_weeks,renovation,This is my third reputation loan. Of course th...,18TFGM41GTH,B,self_employed,DE,none,...,False,52.540658,13.417918,320000,EUR,1,1,btc,Germany,2158.125468
2,E4KSS31PZ,770,term_6_months,education,I want to start using bitcoin. This bitcoin lo...,18TFGM41GTJ,A,self_employed,SK,connected,...,False,52.510964,13.304994,185000,EUR,6,6,btc,Slovakia,678.130952
3,E4MST31Q6,770,term_6_months,education,test loan,18TFGM41GTJ,A,self_employed,SK,connected,...,False,52.510964,13.304994,185000,EUR,6,6,btc,Slovakia,678.130952
4,E58B131QM,1115,term_6_weeks,other,reputation loan number 1,18TFGM41GTH,B,self_employed,DE,none,...,False,52.540658,13.417918,320000,EUR,1,1,btc,Germany,2158.125468
5,E58RN31QR,1029,term_6_months,renovation,reputation loan number 2,18TFGM41GTH,B,self_employed,DE,none,...,False,52.540658,13.417918,320000,EUR,6,6,btc,Germany,2158.125468
6,EBZYT31R7,766,term_6_weeks,investment,This is a project for you guys to get started.,18TFGM41GTH,A,self_employed,DE,none,...,False,52.540658,13.417918,320000,EUR,0,0,btc,Germany,2158.125468
7,EFZ3731SG,2457,term_36_months,investment,I work as a teacher and need a motorcycle to g...,EFYAG31SE,E,salaried,IT,none,...,False,45.458525,9.164262,134500,EUR,0,0,btc,Italy,1562.285808
8,EG08A31SK,2108,term_36_months,investment,I have a garage in Dijon. We are specialized o...,EFZQC31SJ,D,self_employed,FR,none,...,False,47.225268,5.137244,231400,EUR,0,0,btc,France,1937.240671
9,EH8MV31SR,766,term_6_weeks,consumption,"Test project, will be cancelled",18TFGM41GTJ,A,self_employed,SK,connected,...,False,52.510964,13.304994,185000,EUR,0,0,btc,Slovakia,678.130952
10,EHDT531SX,3332,term_6_months,working_capital,"Hey everybody, I want to open a fitness center...",EH91S31SV,F,studying,DE,none,...,True,-1.000000,-1.000000,5000,EUR,0,0,btc,Germany,2158.125468
11,EJ6QV31T4,2458,term_6_months,renovation,I run a tapas restaurant in Sevilla which I ne...,EJ67531T2,E,self_employed,ES,none,...,False,37.402682,-5.983645,231400,EUR,6,6,btc,Spain,1284.657677
12,EZKCP31V5,1029,term_6_months,working_capital,"Hi, this is a reutation loan. I want to show t...",18TFGM41GXP,B,self_employed,GH,none,...,False,42.815448,-73.970143,148800,USD,0,0,btc,Ghana,370.240077
13,F190431VB,770,term_6_months,other,"Hey everyone, this is a reputation project. Gi...",18TFGM41GTJ,A,self_employed,SK,connected,...,False,52.510964,13.304994,185000,EUR,0,0,btc,Slovakia,678.130952
14,F1K8G31VH,1029,term_6_months,investment,I need to repair my vehicle and wanted to take...,F1AAA31VF,B,salaried,DK,none,...,False,55.689747,12.565023,1700000,DKK,0,0,btc,Denmark,19764.211459
15,F3KTE31VS,766,term_6_weeks,other,A nice project for you to invest in. Thank you!,18TFGM41GTH,A,self_employed,DE,none,...,False,52.540658,13.417918,320000,EUR,0,0,btc,Germany,2158.125468
16,FJ16W31W9,2458,term_6_months,other,This is a reputation Bitbond. Thank you for co...,EJ67531T2,E,self_employed,ES,none,...,False,37.402682,-5.983645,231400,EUR,6,6,btc,Spain,1284.657677
17,FMQ7X31WD,766,term_6_weeks,working_capital,This is a project for your guys to invest in a...,18TFGM41GTH,A,self_employed,DE,none,...,False,52.540658,13.417918,320000,EUR,0,0,btc,Germany,2158.125468
18,FPVX731WG,766,term_6_weeks,other,Happily invest in my project and you shall be ...,18TFGM41GTH,A,self_employed,DE,none,...,False,52.540658,13.417918,320000,EUR,0,0,btc,Germany,2158.125468
19,FQ7F031WP,1465,term_6_weeks,renovation,Need a short term loan to repair my the interi...,FQ6AP31WM,C,self_employed,IT,none,...,False,44.408788,8.933717,186700,EUR,0,0,btc,Italy,1562.285808
20,FQ92Y31WR,1029,term_6_months,consumption,This is a reputation loan to see how this work...,F1AAA31VF,B,salaried,DK,none,...,False,55.689747,12.565023,1700000,DKK,0,0,btc,Denmark,19764.211459
21,FZ9K331X3,766,term_6_weeks,investment,I would like to benefit from falling Bitcoin e...,FZ8HT31X0,A,salaried,DE,none,...,False,48.992820,8.394117,570000,EUR,0,0,btc,Germany,2158.125468
22,G8AQK31XW,770,term_6_months,renovation,Need to repair my car and wanted to try this. ...,18TFGM41GTJ,A,self_employed,SK,connected,...,False,52.510964,13.304994,185000,EUR,0,0,btc,Slovakia,678.130952
23,G8AZE31XX,1453,term_12_months,other,I want to go short on Bitcoin as I believe pri...,FQ6AP31WM,C,self_employed,IT,none,...,False,44.408788,8.933717,186700,EUR,0,0,btc,Italy,1562.285808
24,G9N2231XZ,766,term_6_weeks,other,I created this project for you to invest and e...,18TFGM41GTH,A,self_employed,DE,none,...,False,52.540658,13.417918,320000,EUR,0,0,btc,Germany,2158.125468
25,GHJ1Y31YA,1633,term_60_months,investment,We are launching a Business Platform where sma...,GF2Y731Y5,C,self_employed,NL,none,...,False,-8.068811,-34.930926,200000,BRL,0,0,btc,Netherlands,2193.460177
26,GPD4531YM,1029,term_6_months,renovation,I want to try this service as I believe it cou...,F1AAA31VF,B,salaried,DK,none,...,False,55.689747,12.565023,1700000,DKK,0,0,btc,Denmark,19764.211459
27,GRRW331YR,1947,term_12_months,investment,I run an art studio in BUenos Aires and need t...,GRHGD31YQ,D,self_employed,AR,none,...,False,-34.545137,-58.529497,600000,ARS,0,0,btc,Argentina,1086.189699
28,GSAE931YT,766,term_6_weeks,investment,test loan,18TFGM41GTJ,A,self_employed,SK,connected,...,False,52.510964,13.304994,185000,EUR,0,0,btc,Slovakia,678.130952
29,GW8RA31Z6,1029,term_6_months,investment,I'm a student and develop mobile apps as a sid...,GW72131Z2,B,studying,JP,none,...,False,42.815994,-73.989226,95000,JPY,0,0,btc,Japan,269146.967742
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2147,2EYKW04J0B,1806,term_6_months,working_capital,Loan Request #4 My First 2 loans were paid of...,25WMYF4562,D,salaried,US,connected,...,False,28.872807,-81.246436,480000,USD,0,0,usd,United States,2725.608949
2148,2EZ07T4J0S,2458,term_6_months,other,"Hi, Reputation loan no.4, it listed for 6 mon...",1NEYNP3SAN,E,self_employed,IN,connected,...,False,19.871125,75.324231,3500000,INR,6,0,btc,India,32216.462277
2149,2F1NG84J5S,1029,term_6_months,investment,"Hello, we are BTCExpert Group and we are conti...",ZC4R03ASW,B,salaried,IT,none,...,False,45.483101,9.235804,139000,EUR,0,0,btc,Italy,1562.285808
2150,2F20TH4J64,1069,term_12_months,investment,Hi guys! That's the deal. I'm the owner of a n...,2EZYAR4J2V,B,salaried,BR,connected,...,False,-22.917916,-43.253201,390000,BRL,0,0,usd,Brazil,1783.737295
2151,2F2EDY4J7C,1806,term_6_months,working_capital,Loan Request #4 My First 2 loans were paid of...,25WMYF4562,D,salaried,US,connected,...,False,28.872807,-81.246436,480000,USD,6,0,btc,United States,2725.608949
2152,2F2XT34J8A,2253,term_60_months,refinancing,Hi Everyone. Im needing a loan to refinance my...,2BSA3X4BN8,E,unemployed,US,connected,...,False,40.662020,-73.924723,82000,USD,0,0,usd,United States,2725.608949
2153,2F38TB4J90,1994,term_6_weeks,investment,Purpose of this loan. 1- Improve my reputation...,2DVKQH4G70,D,salaried,BR,connected,...,False,-23.254543,-45.905748,480000,BRL,1,0,usd,Brazil,1783.737295
2154,2F3YSJ4J9T,2564,term_12_months,investment,Hello to all. I want the loan for Trading in t...,XXXBB36PC,E,salaried,IN,connected,...,False,17.414839,78.509583,2214000,INR,0,0,btc,India,32216.462277
2155,2F433V4JA7,1994,term_6_weeks,refinancing,I require a small loan to restructure credit a...,2EDSMD4H6X,D,salaried,VN,connected,...,False,-1.000000,-1.000000,100000,USD,1,0,btc,Vietnam,5448275.862070
2156,2F59ZC4JC1,1583,term_36_months,working_capital,Hello I hope to get success in this loan requ...,VBGBA35MN,C,salaried,VE,none,...,False,10.707080,-71.628954,540000,VEF,0,0,btc,Venezuela,179.500000
2157,2F6F574JE3,1806,term_6_months,investment,Hi good day i have a software developing compa...,2AP41T49PT,D,self_employed,IN,connected,...,False,-1.000000,-1.000000,12000000,INR,0,0,usd,India,32216.462277
2158,2F7A304JF4,1633,term_60_months,other,Hi to all @ Bitbond All my BTC loans I have s...,16TVSY3DW0,C,salaried,HR,connected,...,False,45.607591,15.245681,508000,HRK,0,0,usd,Croatia,4940.045455
2159,2F7A8F4JF6,1633,term_60_months,other,Hi to all @ Bitbond All my BTC loans I have sp...,16TVSY3DW0,C,salaried,HR,connected,...,False,45.607591,15.245681,508000,HRK,0,0,usd,Croatia,4940.045455
2160,2F9DY74JH1,1947,term_12_months,working_capital,This Loan is to test this platform and to incr...,28AMVF46R5,D,self_employed,PT,connected,...,False,49.627643,6.136860,200000,EUR,0,0,usd,Portugal,807.289515
2161,2F9Q954JHR,2108,term_36_months,investment,THIRD TRY Hi Guys I am planning to start my ...,2D2C4K4EGY,D,salaried,IN,connected,...,False,19.205158,72.834045,1600000,INR,0,0,usd,India,32216.462277
2162,2FA1264JJH,2108,term_36_months,investment,"Hi, THIRD TRY To get loan for starting my bus...",2D2C4K4EGY,D,salaried,IN,connected,...,False,19.205158,72.834045,1600000,INR,0,0,btc,India,32216.462277
2163,2FAE2A4JKF,1633,term_60_months,other,This loan is going to be used to refinance exi...,1SK52K3XZ5,C,salaried,GB,connected,...,False,41.791801,-72.519819,100000,GBP,0,0,usd,United Kingdom,1677.130628
2164,2FB6VH4JMP,1806,term_6_months,other,My name is Joseph and I'm looking for a small ...,23HHV543WG,D,studying,CA,connected,...,False,48.525951,-89.215877,84100,CAD,0,0,btc,Canada,3003.747810
2165,2FB6XB4JMR,1806,term_6_months,other,My name is Joseph and I'm looking for a small ...,23HHV543WG,D,studying,CA,connected,...,False,48.525951,-89.215877,84100,CAD,0,0,btc,Canada,3003.747810
2166,2FBSXA4JNR,2457,term_36_months,investment,I will use the half the funds to power up my h...,29GT4N484Y,E,salaried,ID,connected,...,False,0.312822,100.238277,75000000,IDR,0,0,usd,Indonesia,4003987.951810
2167,2FCF924JPB,1069,term_12_months,investment,Hi and thanks to take your time to read this p...,25FXAX4502,B,salaried,VE,connected,...,False,-1.000000,-1.000000,200000,USD,0,0,btc,Venezuela,179.500000
2168,2FCJ5H4JPK,2071,term_60_months,working_capital,"Hello everybody, I'm JOSE ELTON ROCK, have 34...",26JSPT45GK,D,salaried,BR,connected,...,False,-1.000000,-1.000000,300,BRL,0,0,btc,Brazil,1783.737295
2169,2FCTXD4JQA,1633,term_60_months,other,This loan is going to be used to refinance exi...,1SK52K3XZ5,C,salaried,GB,connected,...,False,41.791801,-72.519819,100000,GBP,0,0,btc,United Kingdom,1677.130628
2170,2FDABD4JR9,1380,term_6_months,working_capital,To buy office furniture for my new office,2EZJH04J1N,C,salaried,KE,connected,...,False,-1.000000,-1.000000,6700000,KES,0,0,usd,Kenya,28600.660952
2171,2FDBK14JRF,1453,term_12_months,working_capital,To purchase furniture for new office and a com...,2EZJH04J1N,C,salaried,KE,connected,...,False,-1.000000,-1.000000,6700000,KES,0,0,usd,Kenya,28600.660952
2172,2FDHGE4JRX,1029,term_6_months,education,"Hello Future Lenders! My name is Ron, And I'm...",2FBBD84JMW,B,salaried,US,connected,...,False,41.759140,-83.624075,400000,USD,0,0,usd,United States,2725.608949
2173,2FE4XR4JSM,1806,term_6_months,working_capital,Hello friendly investors! my name is indra an...,2FCZ354JQE,D,salaried,ID,connected,...,False,-1.243664,116.899927,808000000,IDR,0,0,btc,Indonesia,4003987.951810
2174,2FH3VN4JXV,1453,term_12_months,other,"Hi, I have been running merchandise business ...",2FA4AC4JJP,C,salaried,IN,connected,...,False,13.021208,80.225400,2714000,INR,0,0,usd,India,32216.462277
2175,2FHYGW4JZA,1583,term_36_months,other,This loan is going to be used to refinance exi...,1SK52K3XZ5,C,salaried,GB,connected,...,False,41.791801,-72.519819,100000,GBP,0,0,btc,United Kingdom,1677.130628
2176,2FHZW14JZN,1633,term_60_months,investment,I'm an IT and bitcoin enthusiast. I've develop...,2EX5KH4HYB,C,salaried,PT,connected,...,False,38.770760,-9.306879,83700,EUR,0,0,usd,Portugal,807.289515

In [6]:
data.project_description.ix[13]

'Hey everyone, this is a reputation project. Give it a try to see how everything works!'

In [7]:
data.loc[835,'region'] = 'NA'
data.loc[1232,'region'] = 'NA'
data.loc[1839,'region'] = 'NA'
data.loc[1993,'region'] = 'NA'
#data['funded'] = data['funded_at'] != '-1'

In [8]:
for status in np.unique(data['status']):
    print '{} has {} representatives'.format(status, data[data['status']==status].shape[0])

canceled has 881 representatives
charged_off has 119 representatives
current has 59 representatives
defaulted has 49 representatives
expired has 535 representatives
fully_paid has 391 representatives
funded has 73 representatives
in_funding has 11 representatives
late_30 has 10 representatives
late_90 has 49 representatives

In [9]:
categorical_feature = ['loan_identifier', 'borrower_identifier', 'term', 'purpose', 'borrower_rating', 'employment', 'region', 'facebook', 'twitter',
                       'paypal', 'ebay', 'linkedin', 'currency', 'base_currency', 'location']#, 'funded', 'status']
transformed_data = pd.DataFrame()
encoders = []
for feature in categorical_feature:
    le = LabelEncoder()
    encoders.append(le)
    le.fit(np.unique(data[feature]).tolist())
#    print list(le.classes_)
    s = pd.Series(le.transform(data[feature].tolist()))
    s.name = feature
    transformed_data = pd.concat([transformed_data, s], axis=1)

/home/thebatou/anaconda/lib/python2.7/site-packages/numpy/lib/arraysetops.py:200: FutureWarning: numpy not_equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  flag = np.concatenate(([True], aux[1:] != aux[:-1]))

In [10]:
from datetime import datetime
from pandas import to_datetime
from datetime import timedelta
# Extracting publication date
published_date = data['published_at']
published_date = published_date.str.rsplit(' ', expand=True, n=1)
published_date = published_date.drop(1, axis=1)
# Exctracting funding date
funded_date = data['funded_at']
funded_date = funded_date.str.rsplit(' ', expand=True, n=1)
funded_date = funded_date.drop(1, axis=1)
funded_date[funded_date[0]=='-1'] = pd.Timestamp.max.strftime('%Y-%m-%d %H:%M:%S')

published_date = to_datetime(published_date[0], format='%Y-%m-%d %H:%M:%S')
funded_date = to_datetime(funded_date[0], format='%Y-%m-%d %H:%M:%S')
diff_date_pub_fund = funded_date - published_date
#print diff_date_pub_fund[diff_date_pub_fund>timedelta(days=90000)].shape

diff_date_pub_fund = diff_date_pub_fund.dt.days

data['time_between_published_funded'] = diff_date_pub_fund
transformed_data['time_between_published_funded'] = diff_date_pub_fund

In [11]:
data['ratio_requested_funded'] = data['amount_funded']/data['amount_requested']
transformed_data['ratio_requested_funded'] = data['amount_funded']/data['amount_requested']
transformed_data['amount_funded'] = data['amount_requested']
transformed_data['amount_funded'] = data['amount_funded']
transformed_data['address_lat']= data['address_lat']
transformed_data['address_lng']= data['address_lng']
transformed_data['net_income_cents']= data['net_income_cents']
transformed_data['rates_paid']= data['rates_paid']
transformed_data['rates_count']= data['rates_count']
transformed_data['prices']= data['prices']
transformed_data['portion_average_salary'] = data['net_income_cents']/data['prices']
transformed_data['nominal_interest_rate']= data['nominal_interest_rate']
transformed_data['status']= data['status']
transformed_data.shape

(2177, 27)

In [12]:
print data.shape
print data.columns
print ''
print transformed_data.ix[10]

(2177, 32)
Index([u'loan_identifier', u'nominal_interest_rate', u'term', u'purpose',
       u'project_description', u'borrower_identifier', u'borrower_rating',
       u'employment', u'region', u'facebook', u'twitter', u'paypal', u'ebay',
       u'linkedin', u'published_at', u'funded_at', u'status',
       u'amount_requested', u'amount_funded', u'issuer_id', u'fraudulent',
       u'address_lat', u'address_lng', u'net_income_cents', u'currency',
       u'rates_count', u'rates_paid', u'base_currency', u'location', u'prices',
       u'time_between_published_funded', u'ratio_requested_funded'],
      dtype='object')

loan_identifier                      2088
borrower_identifier                   485
term                                    3
purpose                                 6
borrower_rating                         5
employment                              3
region                                 14
facebook                                1
twitter                                 1
paypal                                  1
ebay                                    1
linkedin                                1
currency                               14
base_currency                           0
location                               21
time_between_published_funded       90869
ratio_requested_funded              0.004
amount_funded                    20000000
address_lat                            -1
address_lng                            -1
net_income_cents                     5000
rates_paid                              0
rates_count                             0
prices                           2158.125
portion_average_salary           2.316825
nominal_interest_rate                3332
status                            expired
Name: 10, dtype: object

In [86]:
transformed_data.to_csv(path_or_buf='/home/thebatou/Documents/Uni_Potsdam/Competitive_Data_Analysis/transformed_data.csv', encoding='utf-8')