In [2]:
import pandas as pd
import os
from tqdm import tqdm
import numpy as np
from sklearn.preprocessing import LabelEncoder

data_folder = '/home/thebatou/Documents/Uni_Potsdam/data_analysis_bitbond/data/'
print 'Loading data ...'
data = pd.read_csv(os.path.join(data_folder, 'data_num_bit.csv'), index_col=0)
print 'Done loading data! {} data were loaded.'.format(data.shape[0])

Loading data ...
Done loading data! 2177 data were loaded.

In [4]:
data.project_description.ix[13]

'Hey everyone, this is a reputation project. Give it a try to see how everything works!'

In [7]:
data.loc[835,'region'] = 'NA'
data.loc[1232,'region'] = 'NA'
data.loc[1839,'region'] = 'NA'
data.loc[1993,'region'] = 'NA'
#data['funded'] = data['funded_at'] != '-1'

In [8]:
for status in np.unique(data['status']):
    print '{} has {} representatives'.format(status, data[data['status']==status].shape[0])

canceled has 881 representatives
charged_off has 119 representatives
current has 59 representatives
defaulted has 49 representatives
expired has 535 representatives
fully_paid has 391 representatives
funded has 73 representatives
in_funding has 11 representatives
late_30 has 10 representatives
late_90 has 49 representatives

In [6]:
categorical_feature = ['loan_identifier', 'borrower_identifier', 'term', 'purpose', 'borrower_rating', 'employment', 'region', 'facebook', 'twitter',
                       'paypal', 'ebay', 'linkedin', 'currency', 'base_currency', 'location']#, 'funded', 'status']
transformed_data = pd.DataFrame()
encoders = []
for feature in categorical_feature:
    le = LabelEncoder()
    encoders.append(le)
    le.fit(np.unique(data[feature]).tolist())
#    print list(le.classes_)
    s = pd.Series(le.transform(data[feature].tolist()))
    s.name = feature
    transformed_data = pd.concat([transformed_data, s], axis=1)

/home/thebatou/anaconda/lib/python2.7/site-packages/numpy/lib/arraysetops.py:200: FutureWarning: numpy not_equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  flag = np.concatenate(([True], aux[1:] != aux[:-1]))

In [7]:
from datetime import datetime
from pandas import to_datetime
from datetime import timedelta
# Extracting publication date
published_date = data['published_at']
published_date = published_date.str.rsplit(' ', expand=True, n=1)
published_date = published_date.drop(1, axis=1)
# Exctracting funding date
funded_date = data['funded_at']
funded_date = funded_date.str.rsplit(' ', expand=True, n=1)
funded_date = funded_date.drop(1, axis=1)
funded_date[funded_date[0]=='-1'] = pd.Timestamp.max.strftime('%Y-%m-%d %H:%M:%S')

published_date = to_datetime(published_date[0], format='%Y-%m-%d %H:%M:%S')
funded_date = to_datetime(funded_date[0], format='%Y-%m-%d %H:%M:%S')
diff_date_pub_fund = funded_date - published_date
#print diff_date_pub_fund[diff_date_pub_fund>timedelta(days=90000)].shape

diff_date_pub_fund = diff_date_pub_fund.dt.days

data['time_between_published_funded'] = diff_date_pub_fund
transformed_data['time_between_published_funded'] = diff_date_pub_fund

In [8]:
transformed_data

,loan_identifier,borrower_identifier,term,purpose,borrower_rating,employment,region,facebook,twitter,paypal,ebay,linkedin,currency,base_currency,location,time_between_published_funded
0,2078,51,4,2,1,2,14,1,1,0,1,1,14,0,21,0
1,2079,51,4,5,1,2,14,1,1,0,1,1,14,0,21,2
2,2080,52,3,1,0,2,66,0,0,0,0,0,14,0,60,0
3,2081,52,3,1,0,2,66,0,0,0,0,0,14,0,60,0
4,2082,51,4,3,1,2,14,1,1,0,1,1,14,0,21,0
5,2083,51,3,5,1,2,14,1,1,0,1,1,14,0,21,0
6,2084,51,4,2,0,2,14,1,1,0,1,1,14,0,21,90871
7,2085,482,1,2,4,1,36,1,1,1,1,1,14,0,32,90869
8,2086,484,1,2,3,2,23,1,1,1,1,1,14,0,20,90869
9,2087,52,4,0,0,2,66,0,0,0,0,0,14,0,60,90869
10,2088,485,3,6,5,3,14,1,1,1,1,1,14,0,21,90869
11,2089,486,3,5,4,2,21,1,1,1,1,1,14,0,64,6
12,2090,53,3,6,1,2,25,1,1,1,1,1,54,0,22,90864
13,2091,52,3,3,0,2,66,0,0,0,0,0,14,0,60,90863
14,2092,487,3,2,1,1,15,1,1,1,1,1,11,0,14,90863
15,2093,51,4,3,0,2,14,1,1,0,1,1,14,0,21,90862
16,2094,486,3,3,4,2,21,1,1,1,1,1,14,0,64,6
17,2095,51,4,6,0,2,14,1,1,0,1,1,14,0,21,90856
18,2096,51,4,3,0,2,14,1,1,0,1,1,14,0,21,90855
19,2097,488,4,5,2,2,36,1,1,1,1,1,14,0,32,90855
20,2098,487,3,0,1,1,15,1,1,1,1,1,11,0,14,90855
21,2099,489,4,2,0,1,14,1,1,1,1,1,14,0,21,90852
22,2100,52,3,5,0,2,66,0,0,0,0,0,14,0,60,90848
23,2101,488,0,3,2,2,36,1,1,1,1,1,14,0,32,90848
24,2102,51,4,3,0,2,14,1,1,0,1,1,14,0,21,90848
25,2103,490,2,2,2,2,51,1,1,1,1,1,4,0,46,90845
26,2104,487,3,5,1,1,15,1,1,1,1,1,11,0,14,90843
27,2105,491,0,2,3,2,0,1,1,0,1,1,1,0,1,90842
28,2106,52,4,2,0,2,66,0,0,0,0,0,14,0,60,90842
29,2107,492,3,2,1,3,38,1,1,1,1,1,26,0,35,90841
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2147,2048,365,3,6,3,1,73,0,0,0,0,0,54,1,75,90087
2148,2049,191,3,3,4,2,33,0,0,0,0,0,22,0,27,4
2149,2050,518,3,2,1,1,36,1,0,0,1,1,14,0,32,7
2150,2051,478,0,2,1,1,6,0,1,0,1,0,4,1,6,90086
2151,2052,365,3,6,3,1,73,0,0,0,0,0,54,0,75,3
2152,2053,443,2,4,4,4,73,0,1,0,1,1,54,1,75,90086
2153,2054,471,4,2,3,1,6,0,0,0,0,0,4,1,6,2
2154,2055,511,0,2,4,1,33,0,0,0,0,0,22,0,27,90085
2155,2056,474,4,4,3,1,75,0,0,0,0,0,54,0,77,1
2156,2057,508,1,6,2,1,74,1,1,0,1,1,55,0,76,90085
2157,2058,420,3,2,3,2,33,0,1,0,1,0,22,1,27,90084
2158,2059,41,2,3,2,1,28,0,0,0,0,0,18,1,12,90084
2159,2060,41,2,3,2,1,28,0,0,0,0,0,18,1,12,90084
2160,2061,382,0,6,3,2,59,0,1,0,0,1,14,1,55,90083
2161,2062,461,1,2,3,1,33,0,0,0,1,0,22,1,27,90083
2162,2063,461,1,2,3,1,33,0,0,0,1,0,22,0,27,90083
2163,2064,251,2,3,2,1,24,0,0,0,0,0,15,1,74,90083
2164,2065,347,3,3,3,3,7,0,0,0,0,0,5,0,8,5
2165,2066,347,3,3,3,3,7,0,0,0,0,0,5,0,8,5
2166,2067,399,1,2,4,1,30,0,0,0,0,0,20,1,28,90082
2167,2068,362,0,2,1,1,74,0,0,0,0,0,54,0,76,90082
2168,2069,370,2,6,3,1,6,0,0,0,0,0,4,0,6,90082
2169,2070,251,2,3,2,1,24,0,0,0,0,0,15,0,74,90082
2170,2071,477,3,6,2,1,39,0,0,1,1,0,27,1,36,90082
2171,2072,477,0,6,2,1,39,0,0,1,1,0,27,1,36,90082
2172,2073,480,3,1,1,1,73,0,0,0,0,0,54,1,75,90082
2173,2074,481,3,6,3,1,30,0,0,0,0,0,20,0,28,7
2174,2075,479,0,3,2,1,33,0,0,0,0,0,22,1,27,90080
2175,2076,251,1,3,2,1,24,0,0,0,0,0,15,0,74,90080
2176,2077,476,2,2,2,1,59,0,1,0,1,1,14,1,55,90080

In [11]:
data['ratio_requested_funded'] = data['amount_funded']/data['amount_requested']
transformed_data['ratio_requested_funded'] = data['amount_funded']/data['amount_requested']
transformed_data['amount_funded'] = data['amount_requested']
transformed_data['amount_funded'] = data['amount_funded']
transformed_data['address_lat']= data['address_lat']
transformed_data['address_lng']= data['address_lng']
transformed_data['net_income_cents']= data['net_income_cents']
transformed_data['rates_paid']= data['rates_paid']
transformed_data['rates_count']= data['rates_count']
transformed_data['prices']= data['prices']
transformed_data['portion_average_salary'] = data['net_income_cents']/data['prices']
transformed_data['nominal_interest_rate']= data['nominal_interest_rate']
transformed_data['status']= data['status']
transformed_data.shape

(2177, 27)

In [12]:
print data.shape
print data.columns
print ''
print transformed_data.ix[10]

(2177, 32)
Index([u'loan_identifier', u'nominal_interest_rate', u'term', u'purpose',
       u'project_description', u'borrower_identifier', u'borrower_rating',
       u'employment', u'region', u'facebook', u'twitter', u'paypal', u'ebay',
       u'linkedin', u'published_at', u'funded_at', u'status',
       u'amount_requested', u'amount_funded', u'issuer_id', u'fraudulent',
       u'address_lat', u'address_lng', u'net_income_cents', u'currency',
       u'rates_count', u'rates_paid', u'base_currency', u'location', u'prices',
       u'time_between_published_funded', u'ratio_requested_funded'],
      dtype='object')

loan_identifier                      2088
borrower_identifier                   485
term                                    3
purpose                                 6
borrower_rating                         5
employment                              3
region                                 14
facebook                                1
twitter                                 1
paypal                                  1
ebay                                    1
linkedin                                1
currency                               14
base_currency                           0
location                               21
time_between_published_funded       90869
ratio_requested_funded              0.004
amount_funded                    20000000
address_lat                            -1
address_lng                            -1
net_income_cents                     5000
rates_paid                              0
rates_count                             0
prices                           2158.125
portion_average_salary           2.316825
nominal_interest_rate                3332
status                            expired
Name: 10, dtype: object

In [86]:
transformed_data.to_csv(path_or_buf='/home/thebatou/Documents/Uni_Potsdam/Competitive_Data_Analysis/transformed_data.csv', encoding='utf-8')